<html>
    <head>
    <body>
        <h1>Hello World</h1>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="OK">
        </form>
        <table border="1">
            
            <tr>
                <td>Status</td>
                <td>Date</td>
            </tr>
            {% for i in data %}
            <tr>
                <td> {{ i.status }} </td> 
                <td>{{ i.date}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
    
    </head>
</html>